<section class="container">
  <div class="columns">
    <div>
      <article class="article-content markdown-body">
        <p>黑客路上，你我同在。</p>
        <br />
      </article>

      <%if(theme.disqus_username){%>
        <%- partial('_widget/disqus-comments',{
          key: post.slug,
          title: post.title,
          url: config.url+url_for(post.path)
        }) %>
      <%} else {%>
        <%- partial('_widget/duoshuo-comments',{
          key: post.slug,
          title: post.title,
          url: config.url+url_for(post.path)
        }) %>
      <%}%>
    </div>
  </div>
</section>
